package-lock.json
node_modules
node_modules/*
*.code-workspace*
build
build/*
.gitignore
.vscode
.vscode/*
dist
dist/*
out
out/*
!coverage/*.svg
coverage/coverage*
coverage/lcov*/
coverage/clover*
lcov.info
/assets
/other
*.exe
THREE/
runtime/
*.png
*.blend
*.jpg
*.avi
*.gltf
*.bin
*.glb
*.exr
*.json
!tsconfig.json
/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
/src/**/*.js
progress/*
/.vscode
license.txt
.vscode/settings.json
